<div class="modal-body">
    <form class="row row-form" name="form" role="form">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error', 'alert-info': flash.type == 'info' }" ng-if="flash" ng-bind="flash.message"></div>
            <div class="form-group required">
                <label for="name" class="control-label">Name</label>
                <input class="form-control" name="name" id="name" ng-model="name" required>
            </div>
            <div class="form-group required">
                <label for="description" class="control-label">Description</label>
                <textarea class="form-control" name="description" id="description" ng-model="description" required>
            </div>
            <div class="form-group required">
                <label for="channel" class="control-label">Channel</label>
                <select ng-model="channel" ng-change="dwtc.channelSelected()" ng-options="ch as ch.name for ch in channels track by ch.index" required>
                    <option value="">-- choose a channel --</option>
                </select>
            </div>
            <div class="form-group required">
                <label for="field" class="control-label">Field</label>
                <select ng-model="field" ng-options="fd as fd.name for fd in fields track by fd.index" required>
                    <option value="">-- choose a field --</option>
                </select>
            </div>
            <div class="form-group required">
                <label for="last" class="control-label">Last</label>
                <select ng-model="time_range" ng-change="dwtc.timeRangeSelected()" ng-options="tr as tr.label for tr in time_ranges track by tr.index" required>
                    <option value="">-- choose a time range --</option>
                </select>
            </div>
            <div class="form-group required">
                <label for="interval" class="control-label">Interval</label>
                <select ng-model="interval" ng-options="i as i.label for i in intervals track by i.index" required>
                    <option value="">-- choose an interval --</option>
                </select>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<div class="modal-footer">
    <div class="form-group form-actions text-center">
        <button ng-click="dwtc.create()" ng-disabled="form.$invalid" class="btn btn-primary">Create</button>
        <button ng-click="dwtc.cancel()" class="btn btn-primary">Cancel</button>
    <div class="text-center">
</div>
