<div class="modal-body">
    <div class="row row-form">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <fieldset class="form-group">
                <label>Name</label>
                <input class="form-control">
            </fieldset>
            <fieldset class="form-group">
                <label>Channel</label>
                <select class="form-control">
                    <option selected="selected">Room Monitor</option>
                    <option>Garage Monitor</option>
                </select>
            </fieldset>
            <fieldset class="form-group">
                <label>Fields</label>
                <select class="form-control">
                    <option>Temperature</option>
                    <option>Humidity</option>
                    <option>Formaldehyde</option>
                </select>
            </fieldset>
            <fieldset class="form-group">
                <label>From</label>
                <p class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    <input type="text" class="form-control" placeholder="yyyy-mm-dd" />
                </p>
            </fieldset>
            <fieldset class="form-group">
                <label>To</label>
                <p class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    <input type="text" class="form-control" placeholder="yyyy-mm-dd" />
                </p>
            </fieldset>
            <fieldset class="form-group">
                <label>Intervals</label>
                <select class="form-control">
                    <option>Hourly</option>
                    <option>Daily</option>
                    <option>Weekly</option>
                    <option>Monthly</option>
                    <option>Yearly</option>
                </select>
            </fieldset>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<div class="modal-footer">
    <div class="form-group form-actions text-center">
        <button ng-click="dwtc.create()" class="btn btn-primary">Create</button>
        <button ng-click="dwtc.cancel()" class="btn btn-primary">Cancel</button>
    <div class="text-center">
</div>
