<div class="row row-form alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
	<rd-widget>
		<rd-widget-body>
			<div class="widget-icon blue pull-left">
				<i class="fa fa-lock"></i>
			</div>
			<div class="widget-title">Security</div>
		</rd-widget-body>
	</rd-widget>
</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="panel panel-primary">
			<div class="panel-heading">Channel Security</div>
			<div class="panel-body">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="form-group">
						<label>Channel</label>
						<select class="form-control">
							<option>Room Monitor</option>
							<option>Garage Monitor</option>
						</select>
					</div>
					<div class="form-group">
						<label>Permission</label>
						<select class="form-control">
							<option>Read</option>
							<option>Write</option>
							<option>ReadWrite</option>
						</select>
					</div>
					<div class="form-group">
						<label>Encryption</label>
						<select class="form-control">
							<option>AES128</option>
							<option>AES256</option>
						</select>
					</div>
					<div class="form-group">
						<label>Private Key</label>
	                    <div class="input-group">
	                        <input type="text" class="form-control">
	                        <span class="input-group-btn">
	                            <button class="btn btn-primary">+</button>
	                        </span>
	                    </div>
					</div>
					<div class="form-group">
						<label>Public Key</label>
						<input type="text" class="form-control" disabled>
					</div>
					<div class="form-group">
						<label>Certificate</label>
	                    <div class="input-group">
	                        <input type="text" class="form-control">
	                        <span class="input-group-btn">
	                            <button class="btn btn-primary">+</button>
	                        </span>
	                    </div>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
        </div>
    </div>
	<div class="col-md-1"></div>
</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="panel panel-primary">
			<div class="panel-heading">Storage Security</div>
			<div class="panel-body">
				<div class="col-md-2"></div>
				<div class="col-md-8 form-group">
					<label>Security level</label>
					<select class="form-control">
						<option>basic</option>
						<option>advanced</option>
						<option>top</option>
					</select>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="row">
	<div class="text-center">
		<button class="btn btn-primary">Reset</button>
		<button class="btn btn-primary">Update</button>
	</div>
</div>
