<div class="modal-header bg-primary">
  <h3 class="modal-title">Device Remote Console</h3>
</div>
<div class="modal-body">
  <div class="row view">
    <div class="form-group row">
      <button class="btn btn-primary" ng-click="drcc.attach()">Attach</button>
      <button class="btn btn-danger" ng-click="drcc.detach()">Detach</button>
      <button class="btn btn-primary" ng-click="drcc.close()">Close</button>
    </div>
    <ul class="list-group">
      <li class="list-group-item row active">
        <h4 class="col-md-2 text-center">Action</h4>
        <h4 class="col-md-3 text-center">Time</h4>
        <h4 class="col-md-7 text-center">Log</h4>
      </li>
      <li ng-repeat="row in drcc.table" ng-class="drcc.rowClass(row)">
        <div class="col-md-2">{{ row.action }}</div>
        <div class="col-md-3">{{ row.time }}</div>
        <div class="col-md-7"><pre class="pre-scroll">{{ row.log | json }}</pre></div>
      </li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="drcc.close()">Close</button>
</div>
