.row-form {
	margin-top: 15px;
	margin-bottom: 15px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.search-bar {
	margin-top: 1px;
	left:1px;
}

.pre-wrap {
	white-space: pre-wrap;
	word-break: normal;
}

.pre-scroll {
	overflow: auto;
}
