<div class="row row-form">
    <div class="col-md-4">
        <fieldset class="form-group">
            <h4>Quick View</h4>
        </fieldset>
        <fieldset class="form-group">
            <label>Name</label>
            <pre class="form-control">Room Monitor</pre>
        </fieldset>
        <fieldset class="form-group">
            <label>Description</label>
            <pre class="pre-wrap">It monitors temperature, humidity and formaldehyde in the room.</pre>
        </fieldset>
        <fieldset class="form-group">
            <label>AccessToken</label>
            <pre class="pre-scroll">abcdxxxx</pre>
        </fieldset>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6" id="temperature-chart" ng-controller="TemperatureLineCtrl">
                <div class="panel panel-default">
                    <div class="panel-heading">Temperature Chart</div>
                    <div class="panel-body">
                      <canvas id="temperature-line" class="chart chart-line" chart-data="data" chart-labels="labels"
                              chart-click="onClick" chart-hover="onHover" chart-series="series" chart-options="options"
                              chart-dataset-override="datasetOverride"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="humidity-chart" ng-controller="HumidityLineCtrl">
                <div class="panel panel-default">
                    <div class="panel-heading">Humidity Chart</div>
                    <div class="panel-body">
                      <canvas id="humidity-line" class="chart chart-line" chart-data="data" chart-labels="labels"
                              chart-click="onClick" chart-hover="onHover" chart-series="series" chart-options="options"
                              chart-dataset-override="datasetOverride"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" id="formaldehyde-chart" ng-controller="FormaldehydeLineCtrl">
                <div class="panel panel-default">
                    <div class="panel-heading">Formaldehyde Chart</div>
                    <div class="panel-body">
                      <canvas id="formaldehyde-line" class="chart chart-line" chart-data="data" chart-labels="labels"
                              chart-click="onClick" chart-hover="onHover" chart-series="series" chart-options="options"
                              chart-dataset-override="datasetOverride"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
