@import "variables.less";

.sidebar-menu-icon {
    float: left;
    font-size: 18px;
    padding-right: 28px;
}

.sidebar-header {
    height: 65px;
    font-size: 36px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    line-height:65px;
    .menu-icon {
        float: left;
        font-size: 36px;
        padding-left: 10px;
        line-height: 65px;
    }
}

.siderbar-divider {
  height: 1px;
  width:100%;
  display:block;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}