<div class="header">
  <div class="col-md-12">
    <div class="user pull-right">
      <div class="item dropdown" uib-dropdown>
        <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
          <img src="img/avatar.jpg">
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-header">
            <a href="https://github.com/xcodersun/vivodash" class="btn btn-lg" target="_blank">
              <span class="fa fa-github"></span>
            </a>
          </li>
          <li class="divider"></li>
          <li class="link">
            <a href="#">Profile</a>
          </li>
          <li class="divider"></li>
          <li class="link">
            <a href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="meta">
      <div class="page">
        VivoDash - an admin panel for
        <a style="text-decoration:none;" href="https://github.com/xcodersun/eywa" target="_blank">eywa <span class="fa fa-github"></span></a>
      </div>
    </div>
  </div>
</div>
