<div class="row row-form alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
    <rd-widget>
        <rd-widget-body>
            <div class="widget-icon blue pull-left">
                <i class="fa fa-area-chart"></i>
            </div>
            <div class="widget-title">Dashboards</div>
        </rd-widget-body>
    </rd-widget>
</div>
<div class="row row-form">
    <div class="text-center">
        <div ng-controller="DashboardNewWidge as $dnw">
            <button class="dashboard-add-button" ng-click="$dnw.open('lg')">Add</button>
        </div>
    </div>
</div>
<div class="row row-form">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form class="form-horizontal">
            <div class="form-group text-center">
                <label class="control-label">Add to Dashboard</label>
                <select class="form-control">
                    <option>dashboard1</option>
                    <option>dashboard2</option>
                </select>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>