<div class="container-fluid">
	<div class="row row-form alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-cloud-upload"></i>
				</div>
				<div class="widget-title">Channels</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="row row-form">
		<div class="col-md-4">
	        <div class="input-group">
	            <span class="input-group-btn">
	            	<button class="btn btn-default glyphicon glyphicon-search" type="button"></button>
	            </span>
	            <input type="text" class="form-control search-bar" placeholder="Search">
	        </div>
	    </div>
	    <div class="col-md-8"></div>
	</div>
	<div class="row row-form">
		<div class="col-md-1"></div>
		<div class="col-md-10">
            <div class="table-responsive">
                <table class="table table-bordered table-contextual">
                	<thead>
            			<tr class="active">
                			<th>Name</th>
                			<th>Modified</th>
                			<th>Connections</th>
                			<th>Messages</th>
                			<th>State</th>
                			<th></th>
                		</tr>
                	</thead>
                    <tbody>
                        <tr>
                            <td>Room Monitor</td>
                            <td>2016-05-06</td>
                            <td class="text-right">2</td>
                            <td class="text-right">5960</td>
                            <td>draft</td>
                            <td class="text-center">
                                <div ng-controller="ChannelQuickView as $cqv">
                                    <button class="btn btn-success" ng-click="$cqv.open('lg')">QuickView</button>
                                    <a href="#/channels_view_channel" class="btn btn-success">Details</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Garage Monitor</td>
                            <td>2016-11-06</td>
                            <td class="text-right">1</td>
                            <td class="text-right">2206</td>
                            <td>draft</td>
                            <td class="text-center">
                                <div ng-controller="ChannelQuickView as $cqv">
                                    <button class="btn btn-success" ng-click="$cqv.open('lg')">QuickView</button>
                                    <a href="#/channels_view_channel" class="btn btn-success">Details</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <fieldset class="form-group text-center">
                <a href="#/channels_new_channel" class="btn btn-primary">Create New Channel</button>
            </fieldset>
        </div>
		<div class="col-md-1"></div>
	</div>
</div>
