<div class="row">
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default glyphicon glyphicon-search" type="button"></button>
      </span>
      <input type="text" class="form-control search-bar" placeholder="Search">
    </div>
  </div>
  <div class="col-md-8"></div>
</div>
<div class="row">
  <div class="col-md-12">
    <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error', 'alert-info': flash.type == 'info' }" ng-if="flash" ng-bind="flash.message"></div>
    <div class="table-responsive">
      <table class="table table-contextual">
        <thead>
          <th>Status</th>
          <th>Name</th>
          <th>IP</th>
          <th>Channel</th>
          <th>Connection</th>
          <th>Connected At</th>
          <th></th>
        </thead>
        <tbody>
          <tr ng-repeat="device in dsc.devices">
            <td><span ng-class="{ 'glyphicon': device, 'glyphicon glyphicon-ok-sign text-success': device.status === 'online', 'glyphicon glyphicon-remove-sign text-success': device.status === 'offline', 'glyphicon glyphicon-info-sign text-success': device.status === 'warning' }"></span></td>
            <td><a ui-sref="sidebar.devices_explore({title:'devices', cid:device.cid, did:device.id})">{{ device.id }}<a></td>
            <td>{{ device.ip }}</td>
            <td><a ui-sref="sidebar.channels_edit_channel({title:'channels', id:device.cid})">{{ device.channel }}</td>
            <td>{{ device.connection_type }}</td>
            <td>{{ device.connected_at | date:'MM/dd/yyyy H:m' }}</td>
            <td><button class="btn btn-success btn-xs btn-wrapper" ng-click="dsc.quickView(device)">QuickView</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <ul class="pagination pagination-sm pull-right">
      <li><a>&laquo;</a></li>
      <li><a>1</a></li>
      <li><a>&raquo;</a></li>
    </ul>
  </div>
</div>
