<!doctype html>
<html lang="en" ng-app="VivoDash">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>VivoDash AngularJS</title>
  <!-- STYLES -->
  <!-- build:css lib/css/main.min.css -->
  <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
  <!--link rel="stylesheet" type="text/css" href="components/rdash-ui/dist/css/rdash.min.css"-->
  <!-- endbuild -->
  <!-- Custom  Css -->
  <link rel="stylesheet" type="text/css" href="css/custom.min.css">
  <!-- SCRIPTS -->
  <!-- build:js lib/js/main.min.js -->
  <script type="text/javascript" src="components/angular/angular.min.js"></script>
  <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="components/angular-animate/angular-animate.min.js"></script>
  <script type="text/javascript" src="components/angular-touch/angular-touch.min.js"></script>
  <script type="text/javascript" src="components/chart.js/dist/Chart.min.js"></script>
  <script type="text/javascript" src="components/angular-chart.js/dist/angular-chart.min.js"></script>
  <script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
  <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <!-- endbuild -->
  <!-- Custom Scripts -->
  <script type="text/javascript" src="js/dashboard.min.js"></script>
</head>
<body ng-controller="Navigation">
  <div id="navibar-column-wrapper" ng-class="{'open': toggle}" ng-cloak>
    <!-- Sidebar -->
    <div id="navibar-wrapper">
      <ul class="navibar">
        <li class="navibar-name">
          <a ng-click="toggleSidebar()">
            VivoDash
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="navibar-menu">
          <a href="#/home">Home <span class="menu-icon fa fa-home"></span></a>
        </li>
        <li class="navibar-menu">
          <div id="navibar-submenu-wrapper" ng-class="{'accordion': navAccount}" ng-cloak>
            <a ng-click="toggleNavAccount()">Account <span class="menu-icon fa fa-user-circle-o"></span></a>
            <div class="navibar-submenu">
              <a href="#/account_company_profile">Company Profile</a>
              <a href="#/account_api_token">Password / API Token</a>
              <a href="#/account_bill_plan">Bill / Plan</a>
            </div>
          </div>
        </li>
        <li class="navibar-menu">
          <div id="navibar-submenu-wrapper" ng-class="{'accordion': navChannels}" ng-cloak>
            <a ng-click="toggleNavChannels()">Channels <span class="menu-icon fa fa-cloud-upload"></span></a>
            <div class="navibar-submenu">
              <a href="#/channels_summary">Summary</a>
              <a href="#/channels_new_channel">New Channel</a>
              <a href="#/channels_view_channel">View Channel</a>
            </div>
          </div>
        </li>
        <li class="navibar-menu">
          <div id="navibar-submenu-wrapper" ng-class="{'accordion': navDevices}" ng-cloak>
            <a ng-click="toggleNavDevices()">Devices <span class="menu-icon fa fa-laptop"></span></a>
            <div class="navibar-submenu">
              <a href="#/devices_summary">Summary</a>
              <a href="#/devices_explore">Explore</a>
            </div>
          </div>
        </li>
        <li class="navibar-menu">
         <div id="navibar-submenu-wrapper" ng-class="{'accordion': navDashboards}" ng-cloak>
            <a ng-click="toggleNavDashboards()">Dashboards <span class="menu-icon fa fa-area-chart"></span></a>
            <div class="navibar-submenu">
              <a href="#/dashboards_summary">Summary</a>
              <a href="#/dashboards_dashboard">Dashboard</a>
              <a href="#/dashboards_explore">Explore</a>
            </div>
          </div>
        </li>
        <li class="navibar-menu">
          <div id="navibar-submenu-wrapper" ng-class="{'accordion': navSecurity}" ng-cloak>
            <a ng-click="toggleNavSecurity()">Security <span class="menu-icon fa fa-lock"></span></a>
            <div class="navibar-submenu">
              <a href="#/security_summary">Summary</a>
              <a href="#/security_setting">Setting</a>
            </div>
          </div>
        </li>
        <li class="navibar-menu">
          <a href="#/auditlog">Audit Log <span class="menu-icon fa fa-file"></span></a>
        </li>
      </ul>
      <div class="navibar-footer">
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular" target="_blank">
            Github
          </a>
        </div>
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular/blob/master/README.md" target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
            Support
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
        <div class="row header">
          <div class="col-xs-12">
            <div class="user pull-right">
              <div class="item dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <img src="img/avatar.jpg">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Joe Bloggs
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#">
                      Profile
                    </a>
                  </li>
                  <li class="link">
                    <a href="#">
                      Menu Item
                    </a>
                  </li>
                  <li class="link">
                    <a href="#">
                      Menu Item
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#">
                      Logout
                    </a>
                  </li>
                </ul>
              </div>
              <div class="item dropdown" uib-dropdown>
               <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <i class="fa fa-bell-o"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Notifications
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">Server Down!</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="meta">
              <div class="page">
                VivoDash
              </div>
              <div class="breadcrumb-links">
                Home / Dashboard
              </div>
            </div>
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div ui-view></div>

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
</body>
</html>
