<div class="row">
	<div class="col-md-4">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default glyphicon glyphicon-search" type="button"></button>
            </span>
            <input type="text" class="form-control search-bar" placeholder="Search">
        </div>
    </div>
    <div class="col-md-8"></div>
</div>
<div class="row row-form">
	<div class="col-md-1"></div>
	<div class="col-md-10">
        <div class="table-responsive">
            <table class="table table-bordered table-contextual">
                <thead>
                    <tr class="active">
                        <th>Name</th>
                        <th>Description</th>
                        <th>Created</th>
                        <th>State</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="channel in csc.channels">
                        <td>{{ channel.name }}</td>
                        <td>{{ channel.description }}</td>
                        <td>{{ channel.created | date:'MM/dd/yyyy' }}</td>
                        <td>draft</td>
                        <td class="text-center">
                            <div ng-controller="ChannelQuickView as $cqv">
                                <button class="btn btn-success btn-xs btn-wrapper" ng-click="$cqv.open('lg')">QuickView</button>
                                <a ui-sref="sidebar.channels_view_channel({title:'channels'})" class="btn btn-primary btn-xs btn-wrapper">Details</a>
                                <button class="btn btn-danger btn-xs btn-wrapper" ng-click="csc.deleteChannel(channel)">Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <fieldset class="form-group text-center">
            <a ui-sref="sidebar.channels_new_channel({title:'channels'})" class="btn btn-primary">Create New Channel</button>
        </fieldset>
    </div>
	<div class="col-md-1"></div>
</div>
